<div class="d-flex justify-content-end p-2">
    <button (click)="openDialog()" mat-icon-button>
        <mat-icon>person_add</mat-icon>        
    </button>
</div>

<table mat-table [dataSource]="students" class="mat-elevation-z8">    
    
    <!-- id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef appSize > No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>  
    
    <!-- nombre y apellido -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef appSize> Nombre y apellido </th>
      <td mat-cell *matCellDef="let element"> {{element | nameLastName}} </td>
    </ng-container>  
    
    
    <!-- email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef appSize> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    
    <!-- curso -->
    <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef appSize> Curso </th>
        <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
    </ng-container>
    
    <!-- fecha -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef appSize> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
    </ng-container>
    
    <!-- acciones -->
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef appSize> Acciones </th>
        <td mat-cell *matCellDef="let element"> 
          <button 
          (click)="onDelete(element.id)"           
          mat-icon-button 
          color="warn">
            <mat-icon>delete</mat-icon>
          </button>
  
          <button   
          (click)="openDialog(element)"        
          mat-icon-button 
          color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  